/* Colour:
Purple: #922578
Dark Purple: #4E2C68
Black: #31212A

*/
/* nav declarations*/
nav {
	background: #922578;
	height: 100px;
	padding-bottom: 0;
}
nav .active{
	background-color: #F7D7C9;
}

.navbar-brand img {
	height: 40px; 
	width: auto;
	margin-left: 50px;
	margin-top: 50px;
}

nav li{
	list-style-type:none;
	margin-left: 30px;
	padding-top: 15px;
	margin-top: 45px;
	margin-bottom: 5px;
}

nav li:hover{
	border-bottom: yellow 2px solid;
}
nav a{
	color: #E5E6E9 !important;
}
nav ul:first-of-type {
	margin-left: 50%;
}
.form-inline{
	padding-top: 20px;
	padding-right: 30px;
}
.form-inline li{
	font-size: 20px;
}



 /* Slider */
.slick-next:before, .slick-prev:before {
    color: #2a9df4 !important;
}

#blog .slick-next {
	display: none !important;
	}

#blog .slick-prev {
	display: none !important ;
}

.slick-prev {
		left: 25px !important ;
		z-index: 999;}

.slick-next {
			right: 25px !important ;
			z-index: 999;}
.slick-dots{
	padding: 5px 0 !important; 
		}

/* General */
.title {
    -webkit-text-fill-color: transparent;
	line-height: 1;
	font-size: 150px;
	font-family: "Poppins", sans-serif;	
	font-weight: 800;
	letter-spacing: 3px;
}

.white {
	-webkit-text-stroke: 1px #E5E6E9;
}

.purple {
	-webkit-text-stroke: 1px #922578;
}

.center {
	text-align: center;
}

.half-center{
	width: 50%;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 20px;
}
.line {
	z-index: -1;
    position: absolute;
    width: 10%;
    left: 45%;
    margin-top: -50px;
}
/* Project */
#projects .title {
	margin: 50px 0;
}

#projects .row{
	height: 350px;
}
.project-title{
	text-transform: uppercase;
	font-family: "Alata", sans-serif;
	font-size: 30px;
	font-weight: 600;
	color: #4E2C68;
	margin-top: 20px;
   
}

.project-description {
	font-family: "Alata", sans-serif;
	font-size: 16px;
	color: #996515;
	margin-top: 20px;
	padding-right: 100px;

}

.first {
	margin-top: 120px;
}

.second {
	margin-top: 70px;
}

.left {
	position: absolute;
	right: 0;
}

.right{
	padding-left: 100px !important;
}

.third {
	margin-top: 80px;
	margin-bottom: 100px;
}
/* Blog */
#blog {
	background:	#4E2C68;
	height: 400px;
	margin-top: 50px;
}

.blog-cover {
	background: #31212A;
	height: 350px;
}

#blog .title {
position: absolute;
left: 250px;
margin-top: 50px;
}

.subtitle{
	font-family: "Alata", sans-serif;
	font-size: 35px;
    font-weight: 400;
    color: #fff;
   margin-left: 150px;
   padding-top: 160px;
   margin-bottom: 50px;
}

.date {
	font-family: "Alata", sans-serif;
	font-size: 14px;
	color: #2a9df4;
	margin-top: 20px;
}

.blog-title {
	font-family: "Alata", sans-serif;
	font-size: 20px;
    font-weight: 400;
    color: #fff;
}

/* Podcasts */
#podcasts .title {
	margin-top: 50px;
	z-index: -1;
	-webkit-text-stroke: 1px rgb(192, 195, 201);
}

#podcasts {
	width: 80%;
	margin: 0 auto;
}
.description {
	font-family: "Alata", sans-serif;
	font-size: 18px;
	line-height: 24px;
}

.name {
	font-family: "Alata", sans-serif;
	font-size: 15px;
	color: #2a9df4;
	margin-bottom: 0;
	margin-top: 50px;
}

.role {
	font-family: "Alata", sans-serif;
	font-size: 13px;
	margin-bottom: 50px;
}

.thumbnail {
	width: 15%;
	margin: 0 auto;
	margin-bottom: 50px;
}

/* Resources */
#resources {
	background: #922578;
	padding-bottom: 100px;
}

#resources .title {
	position: absolute;
	left: 250px;
	margin-top: 50px;
	}

	.card-deck {
		width: 80%;
		margin: 0 auto !important;
	}
.card {
	background: #4E2C68 !important;
	height: 400px;
}

.deco {
	width: 25%;
	position: absolute;
	top: -15px;
	left: -10px;
}

.card-text {
	color: #FFFFFF;
	font-size: 14px;
	line-height: 24px;
	padding: 10px;
	margin-top: 30px;
	font-family: "Alata", sans-serif;

}
.button {
	color: #FFFFFF;
	font-size: 12px;
	border: #FFFFFF 1px solid;
	padding: 10px;
	position: absolute;
	bottom: 30px;
	right: 30px;
	font-family: "Alata", sans-serif;
}

/* BnF */
#bnf {
	background: #4E2C68;
}

#bnf .title {
	position: absolute;
	margin-top: 50px;
	left: 100px;
	font-size: 135px;
	}

	.quote {
	color: #FFFFFF;
	font-size: 18px;
	line-height: 24px;
	padding: 10px;
	margin-top: 30px;
	font-family: "Alata", sans-serif;
	text-align: center;
	}

	.source {
	color: #2a9df4;
	font-size: 14px;
	line-height: 22px;
	padding: 10px;
	margin-top: 20px;
	font-family: "Alata", sans-serif;
	text-align: center;
	margin-bottom: 50px;
	}
/* Footer */
footer {
	background: #31212A;
	color: #FFFFFF;
	overflow:hidden;
	padding-top: 100px;
}

.footer_logo {
	margin: 0 auto;
	display: block;
	width: 10%;
}

.links li {
	list-style: none;
	margin-bottom: 30px;
}

.links a {
	color: #AAB1B7;
	font-weight: 400;
	font-family: "Alata", sans-serif;
	font-size: 16px;
	line-height: 14px;
}

.footer-title {
	font-size: 20px;
	line-height: 24px;
	padding: 10px;
	margin-left: 20px;
	font-family: "Alata", sans-serif;
	margin-bottom: 50px;
	}

.footnote {
	text-align: center;
	font-size: 12px;
	margin-top: 20px;
}