.bg{
	width: 100%;
}

/* nav declarations*/
nav .active{
	background-color: #F7D7C9;
}

.navbar-brand img {
	height: 60px; 
	width: auto;
	margin-left: 50px;
	margin-top: 13px;
}

.disabled {
	padding-top: 20px;
}
nav li{
	list-style-type:none;
	margin-left: 20px;
	padding-top: 15px;
}
nav ul:first-of-type {
	margin-left: 56%;
}
.form-inline{
	padding-top: 20px;
	padding-right: 30px;
}
.form-inline li{
	font-size: 20px;
}


.white {
	color: #ffffff;
}
.title {
position: absolute;
left: 48.86%;
top: 38%;
bottom: 63.09%;
font-family: Arial;
font-style: normal;
font-weight: bold;
font-size: 70px;
line-height: 80px;
letter-spacing: 0.1cm;
/* identical to box height */

color: #000000;
}

.subtitle {
	position: absolute;
	width: 422px;
	height: 99px;
	left: 60.86%;
	top: 52%;
	
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 300;
	font-size: 50px;
	line-height: 60px;
	letter-spacing: 0.08em;
	
	color: #73BFC7;	
}

.description {
position: absolute;
width: 580px;
height: 189px;
left: 50%;
top: 75%;

font-family: Helvetica;
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 30px;
letter-spacing: 0.08em;

color: #000000;
}

.scroll {
position: absolute;
height: 40px;
left: 58%;
top: 96%;

font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 30px;
letter-spacing: 0.08em;

color: #73BFC7;

}

/* People */
.container {
	max-width: 100% !important;
}
.row {
	height: 500px !important;
}

/* Denise */
#denise {
	background: #A63D37 !important;
}

#denise p {
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 55px;
line-height: 64px;
color: #FFFFFF;
position: relative;
left: 25%;
top: 30%;
}

#denise button {
color: #FFFFFF;
border: 1px solid #ffffff;
background: 0;
font-family: Helvetica;
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.2em;
padding: 20px;
position: relative;
left: 38%;
top: 35%;	
}

#denise img {
	position: absolute;
	left: 25%;
	top: 10%;
}
/* Jerome */
#jerome {
	background: #FFE27B !important;
}

#jerome p {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 55px;
line-height: 64px;
position: relative;
left: 25%;
top: 30%;
}

#jerome button {
color: #000000;
border: 1px solid #000000;
background: 0;
font-family: Helvetica;
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.2em;
padding: 20px;
position: relative;
left: 37%;
top: 35%;
}

#jerome img{
	width: 63%;
	position: absolute;
	left: 25%;
	top: 10%;
}
/* Kathie */
#kathie {
	background: #73BFC7 !important;
	overflow: hidden;
}

#kathie p{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 55px;
	line-height: 64px;
	color: #FFFFFF;
	position: relative;
	left: 28%;
	top: 15%;
	}

	#kathie button {
		color: #FFFFFF;
		border: 1px solid #ffffff;
		background: 0;
		font-family: Helvetica;
		font-style: normal;
		font-weight: 300;
		font-size: 20px;
		line-height: 24px;
		letter-spacing: 0.2em;
		padding: 20px;
		position: relative;
		left: 37%;
		top: 20%;	
		}

	#kathie img {
	height: 45%;
	position: relative;
	left: 20%;
	top: 5%;
		}

/* Footer */
footer {
	background: #000000;
	color: #FFFFFF;
	overflow:hidden;
}

.footer_logo {
	margin: 0 auto;
	display: block;
	width: 10%;
}

.footer p {
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 35px;
text-align: center;
}

.social {
	display: table;
	margin: 0 auto;
}
.social_icons {
	list-style-type: none;
}

.social_icons li{
	display: inline;
	font-size: 20px;
	margin-right: 15px;
}

footer p{
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 35px;
text-align: center;
}